
<!-- barra de navegacion -->
 
<nav class="bg-yellow-300 mx-auto flex items-center justify-center relative py-3 px-5">
      <ul class="flex gap-8 text-sm font-medium">
        <li><a href="/" class="hover:text-blue-900">INICIO</a></li>
        <li><a href="/obituarios" class="hover:text-blue-900">OBITUARIOS</a></li>
        <li><a href="/nuestraempresa" class="hover:text-blue-900">NUESTRA EMPRESA</a></li>
        <li><a href="/servicios" class="hover:text-blue-900">SERVICIOS</a></li> 
        <li><a href="/contacto" class="hover:text-blue-900">CONTACTO</a></li> 
      </ul>
</nav>



