---
import imgcarrozanosotros from '../assets/img/carrozanosotros.jpg'; 
import imgcementeriomunicipal from '../assets/img/cementeriomunicipal.jpg'; 
---
<!--tradicion y modernidad en nuestra empresa-->
<section class="py-12 md:py-16 bg-white">
  <div class="container mx-auto px-6">
    <h2 class="text-3xl md:text-2xl font-bold text-sky-900 text-start mb-12">
      Tradición y Modernidad
    </h2>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 md:gap-12">
      
      <div>
        <img 
          src={imgcementeriomunicipal.src} 
          alt="Primera carroza de la funeraria" 
          class="border border-blue-500 w-full h-80 object-cover shadow-md"
        >
        <p class="text-justify text-gray-700 mt-6 text-lg">
           Nuestra historia se basa en la tradición y el compromiso. 
         Desde nuestros inicios, hemos acompañado a la ciudad de castro y sus alrededores 
        con un servicio cercano y respetuoso, valores que mantenemos intactos, nuestro objetivo es seguir creciendo para ofrecer el servicio que se merece la gente,
         nuestros vecinos y toda la comunidad de chiloé,
        </p>
      </div>
      <div>
        <img 
          src={imgcarrozanosotros.src} 
          alt="Nueva carroza de la funeraria" 
          class="border border-blue-500 w-full h-80 object-cover shadow-md"
        >
        <p class="text-justify text-gray-700 mt-6 text-lg">
         Constantemente buscamos modernizarnos para estar a la altura de los nuevos tiempos, 
    incorporando equipamiento y comodidades que brinden un servicio eficiente y digno. 
    Esta evolución es nuestro compromiso para seguir sirviendo, 
    sin perder jamás los valores y la esencia de Funeraria Pluma.
        </p>
      </div>

    </div>
 </div>
 </section>