---
import Header from '../components/header.astro';
import Navbar from '../components/navbar.astro';
import Footer from '../components/footer.astro';
import favicon from '../assets/img/logofunerariatrasparente.png';
---
 <!-- plantilla esctructura -->
<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Funeraria Pluma</title>
    <script src="https://kit.fontawesome.com/b7d11a94d5.js" crossorigin="anonymous"></script>
    <link rel="icon" href={favicon.src} />
</head>

<body class="bg-white flex flex-col min-h-screen font-semibold">
  
  <div class="sticky top-0 z-50">
    <Header />
    <Navbar />
  </div> 
    <main class="flex-grow">
    <slot />
  </main>
  
  <Footer />

</body>
</html>

<style is:global>
  body {
   
    font-family: 'Inter', sans-serif; 
  }
</style>